
<div>
  Wyszukaj Państwo:
  <input
    type="text"
    id="username"
    placeholder="enter country"
    [(ngModel)]="country.value"
    name="name"
  />
  <button (click)="getCountry()">Click me</button>
</div>
<div class="container">
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Department</th>
      <th>Email</th>
      <th>Country</th>
    </tr>
    <p>{{this.countries.name}}</p>
    </thead>
    <tbody>
<!-- <tr *ngFor="let e of countries">
    <td><span>{{e.name}}</span></td>  -->
<!--   <td><span>{{country.name}}</span></td>
      <td><span>{{country.name}}</span></td>  -->
  <!--   </tr>  -->
    </tbody>
  </table>
  <ul class="userList" *ngIf="countries">
    <li class="userItem" *ngFor="let country of this.countries">
        <p class="first"> {{country.name}} </p>
        <p class="last"></p>
        <p class="balance"></p>
   </li>
</ul>
</div>
<router-outlet></router-outlet>