<div>
  Wyszukaj Państwo:
  <input
    type="text"
    id="username"
    placeholder="enter country"
    [(ngModel)]="country.value"
    name="name"
  />
  <button (click)="getCountry()">Click me</button>
</div>
<div>
  <p>
    <a routerLink="/selectedcountry">{{ this.countries.name }}</a>
  </p>
</div>
<div>
  <table class="">
    <caption>
      Country serach results by {{this.country.value}}:
      {{
        this.countries.name
      }}
    </caption>
    <thead>
      <tr>
        <td>Domain: {{ this.countries.topLevelDomain }}</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Capital: {{ this.countries.capital }}</td>
      </tr>
      <tr>
        <td>Region: {{ this.countries.region }}</td>
      </tr>
      <tr>
        <td>Subregion: {{ this.countries.subregion }}</td>
      </tr>
      <tr>
        <td>Population: {{ this.countries.population }}</td>
      </tr>
      <tr>
        <td>Area: {{ this.countries.area }}</td>
      </tr>
      <tr>
        <td>Timezone: {{ this.countries.timezones }}</td>
      </tr>
      <tr>
        <td>Borders: {{ this.countries.borders }}</td>
      </tr>
      <tr>
        <td>Currencies: {{ this.currency.code }}</td>
      </tr>
      <tr>
        <td>Language: {{ this.languages.name}}</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- <router-outlet></router-outlet> -->
