
<div>
  Wyszukaj Państwo:
  <input
    type="text"
    id="username"
    placeholder="enter country"
    [(ngModel)]="country.value"
    name="name"
  />
  <button (click)="getCountry()">Click me</button>
</div>
<div>
  <p><a routerLink="/selectedcountry">{{this.countries.name}}</a></p>
</div>
<!-- <div class="container">
  <table class="">
    <thead>
    <tr>
      <th>ID</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Department</th>
      <th>Email</th>
      <th>Country</th>
    </tr>
    <p>{{this.countries.name}}</p>
    </thead>
  </table>
  <ul class="userList" *ngIf="countries">
    <li class="userItem" *ngFor="let country of this.countries">
        <p class="first"> {{country.name}} </p>
        <p class="last"></p>
        <p class="balance"></p>
   </li>
</ul>
</div> -->
<router-outlet></router-outlet>